
.pago-ventana-emergente{
    width: 30%;
    margin: 0 auto;
    padding: 60px 70px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-secondary);
    background-color: #f9f9f9;
    margin-top: 100px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input{
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.form-group {
    display: flex;
    gap: 20px; /* Espacio entre los grupos de input */
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.btnpagar{
    width: 100%;
    height: 40px;
    background-color: #45a049;
}

.btncancelar{
    width: 100%;
    height: 40px;
    background-color: red;
}

.btnpagar:hover {
    background-color: #368339;
}
.btncancelar:hover {
    background-color: rgb(199, 4, 4);
}